html {
    box-sizing: border-box;
    /* Suma los valores de height, margin o border al objeto*/
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: #788DA9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameArea {
    position: relative;
    width: 800px;
    height: 610px;
    background-color: aliceblue;
    background-image: url('../media/background.png');
}

#player {
    position: absolute;
    width: 19px;
    height: 26px;
    background-image: url('../media/Walk.gif');
    background-size: 25px;
    background-repeat: no-repeat;
}