html {
    box-sizing: border-box;
    /* Suma los valores de height, margin o border al objeto*/
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: #788DA9;
    position: relative;
    height: 100vh;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#interfaceGame {
    position: relative;
    background-color: rgb(201, 245, 245);
    border-radius: 15px 15px 0px 0px;
    background-image: url('../media/hud.png');
    height: 50px;
    width: 800px;
}

#gameArea {
    position: relative;
    width: 800px;
    height: 610px;
    background-image: url('../media/background.png');
}

#player {
    position: absolute;
    width: 18px;
    height: 25px;
    background-image: url('../media/Walk.gif');
    background-size: 25px;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}